# === EOL 설정 ===
* text=auto
*.sh text eol=lf
*.bat text eol=crlf

# === 바이너리 파일 ===
*.png binary
*.jpg binary
*.gif binary
*.ttf binary
*.woff binary
*.woff2 binary

# === merge 무시 설정 ===
package-lock.json merge=ours

# GitHub 언어 통계 정리
frontend/node_modules/** linguist-vendored
frontend/dist/** linguist-generated
backend/build/** linguist-generated
